extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Node java
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="#") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact
      // /.nav-collapse
  .container(ng-controller="MainController as mainCtrl")
    .starter-template
      h1 Node java Test
      .action-container
        button.btn.btn-primary(ng-click="mainCtrl.onClickSimple()") Simple
        button.btn.btn-primary(ng-click="mainCtrl.onClickLongRunning()") Long running
        button.btn.btn-primary(ng-click="mainCtrl.onClickLongRunningAsync()") Long run Async
      .result-container
        textarea(rows="10", ng-model="mainCtrl.model.text")
