/*
 * KoPub Batang (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Local KoPub Batang';
  font-style: normal;
  font-weight: 300;
  src: url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Light.eot);
  src: url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Light.eot?#iefix) format("embedded-opentype"), url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Light.woff2) format("woff2"), url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Light.woff) format("woff"), url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Light.ttf) format("truetype"); }

@font-face {
  font-family: 'Local KoPub Batang';
  font-style: normal;
  font-weight: 400;
  src: url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Regular.eot);
  src: url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Regular.eot?#iefix) format("embedded-opentype"), url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Regular.woff2) format("woff2"), url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Regular.woff) format("woff"), url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Local KoPub Batang';
  font-style: normal;
  font-weight: 700;
  src: url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Bold.eot);
  src: url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Bold.eot?#iefix) format("embedded-opentype"), url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Bold.woff2) format("woff2"), url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Bold.woff) format("woff"), url(components/playnode/playnode/fonts/kopub_batang/KoPubBatang-Bold.ttf) format("truetype"); }
